node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/


Config/secrets.js
ztest
newzgeekz.jks

# macOS
.DS_Store

app.json
app.json
Config/secrets.js
